<div>
  <h1>Nome Cognome's Account</h1>
  <div>
    <label for="email">Your email: Prova@gmail.com</label>
    <input type="email" name="email" id="email" placeholder="Change email">
    <button type="button">set</button>
  </div>
  <div>
    <label for="password">Change Password</label>
    <input type="password" name="password" id="password" placeholder="Actual Password">
    <input type="password" name="password" id="password" placeholder="New Password">
    <button type="button">set</button>
  </div>
  <div>
    <p>See your posts <a routerLink="/myposts">here</a> </p>
  </div>
</div>
