<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>City</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <ion-button (click)="like()" *ngIf="!liked" color="danger" size="default" mat-button>LIKE</ion-button>
      <ion-button (click)="like()" *ngIf="liked" color="danger" size="default" mat-button>LIKED</ion-button>
      <ion-button (click)="openComments()" color="danger" size="default" mat-button>COMMENT</ion-button>
      <ion-icon name="heart-outline"></ion-icon>
      <p>{{likes}}</p>
    </mat-card-actions>
  </mat-card>
</div>
<router-outlet></router-outlet>

