<div class="container">
  <div class="comments-container">
      <div class="comment-container">
      <div class="head-container">
        <div class="img-container">
          <img class="profile-img" src="../../../assets/img/user.png">
        </div>
        <div class="name">
          <h4>Nome Cognome</h4>
        </div>
      </div>
      <p>Questo è un magnifico commento, sicuramente intelligente e scritto in maniera eccelsa</p>
    </div>
    <div class="comment-container">
      <div class="head-container">
        <div class="img-container">
          <img class="profile-img" src="../../../assets/img/user.png">
        </div>
        <div class="name">
          <h4>Nome Cognome</h4>
        </div>
      </div>
      <p>Questo è un magnifico commento, sicuramente intelligente e scritto in maniera eccelsa</p>
    </div>
    <ion-button (click)="closeComments()" color="danger" size="small" mat-button>Close</ion-button>
  </div>
</div>
